<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a
      b-slate-link
      href="https://ddiu.io" target="_blank"
    >
      Diu
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://github.com/ddiu8081/chatgpt-demo" target="_blank"
    >
      Source Code
    </a>

  </p>
  <script type="text/javascript">
	atOptions = {
		'key' : '2efc7ddac003ca0b6777a9fcaf5f1aa5',
		'format' : 'iframe',
		'height' : 50,
		'width' : 320,
		'params' : {}
	};
	document.write('<scr' + 'ipt type="text/javascript" src="http' + (location.protocol === 'https:' ? 's' : '') + '://www.profitabledisplaynetwork.com/2efc7ddac003ca0b6777a9fcaf5f1aa5/invoke.js"></scr' + 'ipt>');
</script>
</footer>
