<footer>
  <p mt-8 text-xs op-30>

    

  </p>
  <br>
     <br>
        <br>
          
          <script async="async" data-cfasync="false" src="//constitutekidnapping.com/0007c5d325b402bb714c2a29adf8e663/invoke.js"></script>
<div id="container-0007c5d325b402bb714c2a29adf8e663"></div>
    

</footer>
