<footer>
  <p mt-8 text-xs op-30>

    

  </p>
  <br>
     <br>
        <br>
          
          <script async="async" data-cfasync="false" src="//constitutekidnapping.com/7b0933445c8047f026baafb0c0a790c9/invoke.js"></script>
<div id="container-7b0933445c8047f026baafb0c0a790c9"></div>
    

</footer>
